html,
body {
    margin: 0;
    width: 100%;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

app-root {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}